.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  .nav-title {
    flex: 1;
    display: block;
    width: 30%;
    height: 100%;
    text-align: center;
    cursor: pointer;
    &.selected {
      .nav-txt {
        .txt {
          color: #dd001b;
        }
      }
    }
    .nav-txt {
      position: relative;
      display: inline-block;
      max-width: 100%;
      height: 100%;
      padding: 0 5px;
      box-sizing: border-box;
      color: #333333;
      font-size: 15px;
      line-height: 40px;
      .txt {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        height: 4px;
        background: #dd001b;
      }
    }
  }
}